#include <cstdint>

#include "common/conversions.h"
#include "common/types.h"
#include "solns/soln_<N>.h"

namespace euler {

types::SolnFuncRet Soln<N>(const types::SolnFuncArgs& args) { 
  if (args.size() != 1) {
    return std::unexpected(types::SolnErrorCode::kInvalidArgCount);
  }

  const auto kLimit = euler::conv::StrToULong(args[0]);
  if (!kLimit.has_value()) {
    return std::unexpected(types::SolnErrorCode::kCannotConvertStrToUInt);
  }

  return 0; 
}

}  // namespace euler
